<!-- User Login Form -->

<h2>Log In</h2>
<form id="login" method="post" action="/login">
  <p><label for="email">Email:</label><br>
    <input class="form-control" type="text" name="user[email]" >
  </p>

  <p><label for="password">Password:</label><br>
  <input class="form-control" type="password" name="user[password]" ></p>

  <!-- BUTTON -->
   <input class="btn btn-primary" type="submit" value="Login" class="button">
</form>
<p>Not a user? <a href="/users/new">Sign Up</a></p>
